# ===== Python runtime =====
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd

# ===== Databases & logs =====
*.db
*.log

# ===== Project outputs =====
projects/**/outputs/
projects/**/logs/
projects/instructors_sqlite/data/

# ===== Virtual environments =====
.venv/
venv/
env/

# ===== IDE / editors =====
.vscode/
.idea/

# ===== OS files =====
.DS_Store
Thumbs.db
